<p>create-user works!</p>

<div class="parent">
    <div class="p1" style="text-align: center; text-decoration: underline;">
        <h1 style="color: red;">Create  USER</h1>
        <form [formGroup]="userForm">
            <label >Name:-</label>
            <input type="text" formControlName="name">
            <label >Age:-</label>
            <input type="text" formControlName="age">
            <label >PhonE:-</label>
            <input type="text" formControlName="phone">
            <label >Email:-</label>
            <input type="text" formControlName="email">
            <div formGroupName="address">
                <label>House NO:-</label>
                <input type="text" formControlName="Hno">
                <label>State:-</label>
                <input type="text" formControlName="State">
                <label>Pim Code:-</label>
                <input type="text" formControlName="pin">
              
            </div>
            <br>
            <button (click)="submit()">Submit</button>
        </form>
    </div>
</div>
