.parent{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    height: 50%;
    width: 50%;
    background-color: bisque;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}
label{
    width: 30%;
    margin: 10px;
}
input{
    border-radius: 10px;
    border: none;
}
button:hover{
    color: chartreuse;
    background-color: darkgray;
}
button{
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: chocolate;
}