.parent{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1{
    height: 100%;
    width: 60%;
    background-color: aquamarine;
}
label{
    width: 150px;
    margin: 10px;
}
