<div class="parent">
    <div class="left">
        <h1>My Website</h1>
        <hr>
        <h4 routerLink="home">Home</h4>
        <h4 routerLink="variable">Variable</h4>
        <h4 routerLink="details">Details</h4>
        <h4 routerLink="interpolation">Interpolation</h4>
        <h4 routerLink="eventbinding">Event Binding</h4>
        <h4 routerLink="twowayprimes">Two way Prime</h4>
        <h4 routerLink="caluculator">Caluculator</h4>
        <h4 routerLink="calaculator2">caluculator2</h4>
        <h4 routerLink="rectangle">Rectangle</h4>
        <h4 routerLink="circle">Circle</h4>
        <h4 routerLink="bmi">Body Mass Index</h4>
        <h4 routerLink="strucutral-directives">Structural Directives</h4>
        <h4 routerLink="atrribute-directives">Attribute-directives</h4>
        <h4 routerLink="marksheet">Mark Sheet</h4>
        <h4 routerLink="vehicle">Vehicle</h4>
        <h4 routerLink="vehicledetail">Vehicle Detail</h4>
        <h4 routerLink="bank">BANK</h4>
        <h4 routerLink="school">School</h4>
        <h4 routerLink="flipkart">Flipkart</h4>
        <h4 routerLink="mail">Mail</h4>
        <h4 routerLink="activity">Activity</h4>
        <h4 routerLink="detail">Detail</h4>
        <h4 routerLink="image">Images</h4>
        <h4 routerLink="contact">Contact</h4>
        <h4 routerLink="info">Info</h4>
        <h4 routerLink="practice">Practice</h4>
        <h4 routerLink="Create">Create</h4>
        <h4 routerLink="create-user">Create User</h4>
        <h4 routerLink="productform">Product Form</h4>
        <h4 routerLink="products">Product table</h4>
        <h4 routerLink="parent">Parent</h4>
        <h4 routerLink="nav">Nav bar</h4>
        <h4 routerLink="cart">Cart</h4>
        <h4 routerLink="iteam">Iteam</h4>
        <h4 routerLink="top">Top</h4>
        <h4 routerLink="ceo">About CEO</h4>
        <h4 routerLink="company">About Company</h4>
        <h4 routerLink="find/find-hr">FIND-HR</h4>
        <h4 routerLink="find/find-support">Find-Support</h4>
        <button (click)="logout()">LOGOUT</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>
    </div>
</div>
